extends layout

block css
    link(rel='stylesheet', href='css/vendor/jquery.qtip.css')

block js
    script(src='js/vendor/jquery.qtip.js')
    script(src='js/vendor/xdate.js')
    script(src='js/vendor/underscore.js')
    script(src='js/vendor/backbone.js')
    script(src='js/vendor/Chart.js/Chart.js')
    script(src='js/main.js')

block content
    .latencies.row
        .allControlsContainer.columns
        .legendContainer.columns
        .main.columns
            .uptimeContainer
                .info
                    h2 uptime
                    .help Uptime in percentage. The higher, the better.
            .latencyContainer
                .info
                    h2 latency
                    .help Latency is given as average for the defined range of time. The lower, the better.
