extends layout

block head
    script(src='js/vendor/xdate.js')
    script(src='js/vendor/underscore.js')
    script(src='js/vendor/backbone.js')
    script(src='js/vendor/Chart.js/Chart.js')
    script(src='js/main.js')

block content
    .cdns
    .latencies
        .controls.row
        .content.row
            .chartContainer.small-12.large-8.columns
            .legendContainer.small-12.large-4.columns
