extends layout

block head
    script(src='js/vendor/xdate.js')
    script(src='js/vendor/underscore.js')
    script(src='js/vendor/backbone.js')
    script(src='js/vendor/Chart.js/Chart.js')
    script(src='js/main.js')

block content
    .cdns
    .latencies.row
        .main.small-12.large-8.columns
            .chartContainer
        .sidebar.small-12.large-4.columns
            .allControlsContainer.panel
            .legendContainer
            .help.panel.uptime
                h3
                    small Uptime
                p The higher the uptime the better. Usually this is around 100% but sometimes you might see small dips.
            .help.panel.latency
                h3
                    small Latency
                p The lower the latency the better. Your visitors will be able to reach your content faster. CDNs reduce latency globally.
