extends ../layouts/base

block js
    script(src='js/vendor/jquery.qtip.js')
    script(src='js/vendor/xdate.js')
    script(src='js/vendor/underscore.js')
    script(src='js/vendor/backbone.js')
    script(src='js/vendor/Chart.js')
    script(src='js/main.js')

block content
    .latencies.row
        .allControlsContainer.columns
        .legendContainer.columns
        .main.columns
            .uptimeContainer
                .info
                    h2
                        abbr(title='Uptime in percentage. The higher, the better.') Uptime
            .latencyContainer
                .info
                    h2
                        abbr(title='Latency is given as average for the defined range of time. The lower, the better.') Latency
