extends ../layouts/base

block js
    script(src='js/vendor/xdate.js')
    script(src='js/vendor/underscore.js')
    script(src='js/vendor/backbone.js')
    script(src='js/vendor/Chart.js')
    script(src='js/main.js')

block header
    .controls
        .request-type-container
            h3.request-type-header Select request type:

            .switch.three.small.typeControls

        .duration-container
            h3.duration-header Select duration:

            .switch.three.small.durationControls

block content
    .charts
        .latencies.row
            .chartContainer.columns

            .uptimeSection
                .uptimeContainer
                    .info
                        h2 Uptime
                            span.expl Uptime in percentage. The higher, the better.

            .latencySection
                .latencyContainer
                    .info
                        h2 Latency
                            span.expl Latency is given as average for the defined range of time. The lower, the better.

                .legendContainer
                    .columns
                    .notes(style='white-space: pre')
                        |1 - Latency in ms as average per day, the lower the better.
                        |2 - Uptime in percentage as average per day. The higher the better.
                        |3 - Total downtime.
