extends ../layouts/base

block js
    script(src='js/vendor/xdate.js')
    script(src='js/vendor/underscore.js')
    script(src='js/vendor/backbone.js')
    script(src='js/vendor/Chart.js')
    script(src='js/main.js')

block header
    .controls
        .request-type-container
            h3.request-type-header Select request type

            .switch.three.small.typeControls

        .duration-container
            h3.duration-header Select duration

            .switch.three.small.durationControls

block content
    .charts
        .latencies.row
            .chartContainer.columns

            .uptime
                .uptimeContainer
                    .info
                        h2
                            abbr(title='Uptime in percentage. The higher, the better.') Uptime

            .latency
                .latencyContainer
                    .info
                        h2
                            abbr(title='Latency is given as average for the defined range of time. The lower, the better.') Latency

                .legendContainer.columns
