extends layout

block head
    link(rel='stylesheet', href='css/vendor/xcharts.css')

    script(src='js/vendor/Chart.js/Chart.js')
    script(src='js/main.js')

block content
    canvas.latencies(width=800, height=400)
