extends layout

block head
    link(rel='stylesheet', href='css/vendor/jquery.qtip.css')

    script(src='js/vendor/jquery.qtip.js')
    script(src='js/vendor/xdate.js')
    script(src='js/vendor/underscore.js')
    script(src='js/vendor/backbone.js')
    script(src='js/vendor/Chart.js/Chart.js')
    script(src='js/main.js')

block content
    .cdns
    .latencies.row
        .main.small-12.large-8.columns
            .uptimeContainer
                .info
                    h2 uptime
                    .help Uptime in percentage. The higher, the better.
            .latencyContainer
                .info
                    h2 latency
                    .help Latency is given as average for the defined range of time. The lower, the better.
        .sidebar.small-12.large-4.columns
            .allControlsContainer.panel
            .legendContainer
