extends layout

block head
    link(rel='stylesheet', href='css/vendor/xcharts.css')

    script(src='js/vendor/underscore/underscore.js')
    script(src='js/vendor/d3.js')
    script(src='js/vendor/xcharts.js')
    script(src='js/main.js')

block content
    .latency
        figure.chart
