doctype 5
html
    head
        title CDN performance in numbers - CDNperf

        link(rel='stylesheet', href='css/base.css')
        script(src='js/vendor/jquery/jquery.js')
        script(src='js/base.js')

        block head
    body
        header
            p TODO

        article
            block content

        footer
            p TODO
