doctype 5
html
    head
        title CDN performance in numbers - CDNperf

        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Monda')

        link(rel='stylesheet', href='css/vendor/normalize.css')
        link(rel='stylesheet', href='css/vendor/foundation.min.css')
        link(rel='stylesheet', href='css/base.css')

        script(src='js/vendor/jquery/jquery.js')

        block head
    body
        header.panel.row
            h1.siteName CDNperf

            p.tagLine CDN performance in numbers

        .main.row
            article
                block content

        footer.panel.row
            .large-3.columns
                p.credits Brought to you by

            .large-3.columns
                a(href='http://www.jsdelivr.com/')
                    img(src='images/jsdelivr.png', alt='jsDelivr')

            .large-3.columns
                a(href='http://jster.net/')
                    img(src='images/jster.png', alt='JSter')

            .large-3.columns
                a(href='https://www.pingdom.com/')
                    img(src='images/pingdom.png', alt='Pingdom')

        script
            var _gaq=[['_setAccount','#{ga}'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
