doctype 5
html
    head
        title CDN performance in numbers - CDNperf

        link(rel='stylesheet', href='css/vendor/normalize.css')
        link(rel='stylesheet', href='css/vendor/foundation.min.css')
        link(rel='stylesheet', href='css/base.css')

        script(src='js/vendor/jquery/jquery.js')

        block head
    body
        header.panel
            h1.siteName CDNperf

            p.tagLine CDN performance in numbers

        .row
            .columns
                article
                    block content

        footer.panel.row
            .large-3.columns
                h3.credits Brought to you by

            .large-3.columns
                a(href='http://www.jsdelivr.com/')
                    img(src='images/jsdelivr.png', alt='jsDelivr')

            .large-3.columns
                a(href='http://jster.net/')
                    img(src='images/jster.png', alt='JSter')

            .large-3.columns
                a(href='https://www.pingdom.com/')
                    img(src='images/pingdom.png', alt='Pingdom')
