doctype 5
html
    head
        title CDN performance in numbers - CDNperf

        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Monda')

        link(rel='stylesheet', href='css/vendor/normalize.css')
        link(rel='stylesheet', href='css/vendor/foundation.min.css')
        link(rel='stylesheet', href='css/base.css')

        script(src='js/vendor/jquery/jquery.js')

        block head
    body
        header.panel.row
            h1.siteName CDNperf

            p.tagLine CDN performance in numbers

        .main.row
            article
                block content

        footer.panel.row
            .large-3.columns
                a.issueTracker(href='https://github.com/bebraw/cdnperf') Issue Tracker

            .large-3.columns
                a(href='http://www.jsdelivr.com/')
                    img(src='images/jsdelivr.png', alt='jsDelivr')

            .large-3.columns
                a(href='http://jster.net/')
                    img(src='images/jster.png', alt='JSter')

            .large-3.columns
                a(href='https://www.pingdom.com/')
                    img(src='images/pingdom.png', alt='Pingdom')

        script
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '#{ga}', 'cdnperf.com');
            ga('send', 'pageview');
