doctype 5
html
    head
        title CDN performance in numbers - CDNperf

        link(rel='stylesheet', href='css/vendor/normalize.css')
        link(rel='stylesheet', href='css/vendor/foundation.min.css')
        link(rel='stylesheet', href='css/base.css')

        script(src='js/vendor/jquery/jquery.js')
        script(src='js/base.js')

        block head
    body
        .row
            .nine.columns
                header.panel
                    h1 CDNperf

                    p.tagline CDN performance in numbers

                article
                    block content

                footer.panel
                    p Brought to you by ...
