.row {
    max-width: 100% !important;
}

article {
    background: #fdfdfd;

    overflow: auto;
    padding: 1em;
}

header.panel, footer.panel {
    margin-bottom: 0;

    background: #333;
}

header.panel .siteName {
    color: #ddd;

    display: inline;
}
header.panel .tagLine {
    margin-left: 2em;
    display: inline;
}

header.panel .tagLine, footer.panel .credits {
    color: #bbb;
}

.latency {
    display: inline-block;
}

.chart {
    width: 400px;
    height: 300px;
}

.controls {
    overflow: auto;
    margin-bottom: 1em;
}

.controlsContainer {
    margin-bottom: 0.5em;
    text-align: center;
}

.controls .selected {
    font-weight: bold;
}

.control {
    margin-left: 0.5em;
    margin-right: 0.5em;
}