body {
    background: #e6e6e6;
}

article {
    background: #fdfdfd;

    overflow: auto;
    padding: 1em;
}

a {
    color: #222;
}

a:hover {
    color: #777;
}

p {
    font-family: Tahoma;
}

h1, h2, h3, th, td.latency, td.uptime {
    font-family: 'Monda', cursive;
    font-weight: 400;
    text-transform: capitalize;
}

header.panel, footer.panel {
    margin-bottom: 0;
}

header .siteName, header .tagLine {
    text-shadow: 1px 1px 2px #969696;
    color: #fff
}

footer .issueTracker {
    color: 333;
}

.selected {
    padding: 0.25em;
    font-weight: bold;
    background-color: #222;
    color: #fff
}

header.panel, footer.panel {
    background: rgb(231, 177, 79);
}

header .siteName {
    display: inline;
    text-shadow: 1px 1px 2px #969696;
}

header .tagLine {
    margin-left: 2em;
    display: inline;
}

.cdn, .control {
    margin-right: 2em;
}

.controlsContainer {
    margin-bottom: 0.5em;
}

.legend {
    width: 100%;
}

.legend th {
    text-align: left;
}

.latencies .info {
    overflow: auto;
}

.latencies .info h2 {
    float: left;
}

.latencies .info .help {
    float: right;
    font-size: x-large;
    margin-top: 1em;
    margin-right: 1em;
}
