article {
    overflow: auto;
    margin: 1em;
}

.panel .siteName {
    display: inline;
}
.panel .tagLine {
    margin-left: 2em;
    display: inline;
}

.latency {
    display: inline-block;
}

.chart {
    width: 400px;
    height: 300px;
}

.controls {
    overflow: auto;
    margin-bottom: 1em;
}

.controls .selected {
    font-weight: bold;
}

.controlsContainer {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.controlsContainer .control {
    margin-right: 1em;
}

.types {
    margin-left: 1em;
}

.types {
    float: left;
}

.categories {
    float: left;
    margin-left: 2em;
}

.ranges {
    float: right;
}

.chart {
    float: left;
}

.legend {
    float: right;
}
