@font-face {
    font-family: 'AccessibilityFoundicons';
    src: url('../fonts/accessibility_foundicons.eot');
    src: url('../fonts/accessibility_foundicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/accessibility_foundicons.woff') format('woff'),
    url('../fonts/accessibility_foundicons.ttf') format('truetype'),
    url('../fonts/accessibility_foundicons.svg#[set]Foundicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*="foundicon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: inherit;
    vertical-align: baseline;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
}

[class*="foundicon-"]:before {
    font-family: "AccessibilityFoundicons";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
}

.foundicon-eyeball:before {
    content: "\f005";
}

.twitter-share-button {
    float: right;
}

body {
    background: #e6e6e6;
}

article {
    background: #fdfdfd;

    overflow: auto;
    padding: 1em;
}

a {
    color: #222;
}

a:hover {
    color: #777;
}

p {
    font-family: Tahoma;
}

h1, h2, h3, td:first-child {
    font-family: 'Monda', cursive;
    font-weight: 400;
    text-transform: capitalize;
}

pre {
    margin-bottom: 1em;
}

article ul {
    margin-left: 2em;
}

header.panel, footer.panel {
    padding: 0.5em;
}

header .siteName, header .tagLine {
       text-shadow: 1px 1px 2px #969696;
    color: #fff
}

footer .issueTracker {
    color: 333;
}

abbr {
  border-bottom: 1px dashed #999;
}

.visibility {
    float: right;
    font-size: large;
    opacity: 0.4;
    cursor: hand;
    cursor: pointer;
}

.visibility.selected {
    opacity: 1.0;
}

.control.selected {
    padding: 0.25em;
    font-weight: bold;
    background-color: #222;
    color: #fff;
}

header.panel, footer.panel {
    background: rgb(231, 177, 79);
}

header .siteName {
    display: inline;
    text-shadow: 1px 1px 2px #969696;
}

header .tagLine {
    margin-left: 2em;
    display: inline;
}

.cdn, .control {
    margin-right: 2em;
}

.controlsContainer {
    margin-bottom: 1em;
}

.types.controlsContainer {
    float: left;
}

.amounts.controlsContainer {
    float: right;
}

.legend {
    width: 100%;
    margin-bottom: 0;
}

.legend th {
    text-align: left;
}

th, tr {
    padding: 0.5625em 0.625em;
    font-size: 0.875em;
}

tr:nth-of-type(even) {
    background: #f9f9f9;
}

td {
    padding: 0.5em;
}

.articles {
    float: right;
    list-style-type: none;
}

.articles .article {
    margin-right: 1em;
    display: inline;
}

footer .info {
    list-style: none;
}
