/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* browser upgrade prompt */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* fonts */
body {
  font-family: sans-serif;
}

/* nav */
nav {
  background: white;
  overflow: auto;
}
.logo-container {
  float: left;

  margin-left: 2em;
  padding: 1em;
}
.logo-container a {
  text-decoration: none;
}
.logo-container .logo {
  display: inline;
}
.logo-container .text {
  display: inline;
  margin-left: 0.5em;
}
.logo-container .first {
  display: inline;
  color: black;
  font-weight: 600;
}
.logo-container .second {
  display: inline;
  color: #00dd79;
}
.nav-container {
  float: right;

  margin-right: 2em;
  padding: 1em;
}
.nav-items {
  display: inline;

  list-style: none;
}
.nav-item {
  display: inline;

  margin-right: 1em;
}
.social-container {
  float: right;
  padding: 1em;
}
.twitter-follow-button {
  margin-right: 0.5em;
}
.social-follow, .social-tweet {
  display: inline;
  padding: 0.25em;
}

/* header */
header {
  color: white;
  background: #00dd79;
  text-align: center;
}
h1 {
  font-size: 175%;

  padding-top: 1em;
  padding-bottom: 0.25em;
}
h2 {
  font-size: 125%;

  padding-bottom: 1em;
}
.request-type-container {
  color: black;
}
.request-type-header {

}
.request-type {

}
.duration-container {
  color: black;
}
.duration-amount {

}
.request-type-container, .duration-container {
  width: 200px;
  display: inline-block;
  margin: 1em;
}
.request-type-header, .duration-header {
  margin: 0.5em;
}

/* article */
body, article {
  background: #dae0e4;
}
article {
  max-width: 950px;
  margin: 0 auto;
}
h2, h3, h4 {
  margin-top: 1em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}
.help {

}
.uptime {
  background: white;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 0.3em;
}
.uptime h2 {
  margin-top: 0
}
.latency {
  background: white;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 0.3em;
}
.latency h2 {
  margin-top: 0
}
.partners {
  text-align: center;
}
.partners h2 {
  padding: 0;
}
.partners-container {
  margin: 1em;
}
.partner {
  margin: 1em;
}

/* footer */
footer {
  background: #333333;
  padding: 1em;
}
footer a {
  color: white;
  text-decoration: none;
}

/* abbr */
abbr:first-child {
    text-transform: capitalize;
}

abbr[title] {
    cursor: help;
}

/* disqus */
#disqus_thread {
    margin-top: 2em;
    margin-bottom: 2em;
}

.switch {
    display: block;
    padding: 0;
    position: relative;
    text-align: center;
}

.switch .slide-button {
    display: block;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.switch input:focus ~ .slide-button,
.switch input:focus + label {
    outline: 1px dotted #888;
}

.switch input {
    position: absolute;
    opacity: 0;
}

.switch label {
    cursor: pointer;
    float: left;
    margin: 0;
    position: relative;
    text-align: center;
    width: 50%;
    height: 100%;
    z-index: 2;
}

.switch .slide-button {
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
}

.switch input:last-of-type:checked ~ .slide-button {
    left: 50%;
}

.switch.three label,
.switch.three .slide-button {
    width: 33.33333%;
}

.switch.three input:checked:nth-of-type(2) ~ .slide-button {
    left: 33.33333%;
}

.switch.three input:checked:last-of-type ~ .slide-button {
    left: 66.66667%;
}

.small {
    background-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 1em;
    height: 32px;
}

.small label {
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.small label,
.small > span {
    color: black;
    background: white;
    line-height: 32px;
    vertical-align: middle;
}

.small input:checked + label {
    color: white;
    background: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.small .slide-button {
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.small > span {
    color: #555;
    text-shadow: none;
}

.small span {
    color: #fff;
}

.big {
    background: none;
    border: 2px solid #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    float: right;
    font-size: 1.1em;
    margin: 48px 40px 0 0;
    width: 92px;
    height: 46px;
    z-index: 9999;
}

.big label {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 0.2;
}

.big label,
.big > span {
    color: #fff;
    line-height: 36px;
    vertical-align: middle;
}

.big input:checked + label {
    color: #555;
    opacity: 1;
}

.big .slide-button {
    background-color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
}

.graphicon {
    background: url('../images/graph.png') no-repeat;
    top: 12px;
    left: 12px;
    width: 20px;
    height: 20px;
}

.mapicon {
    background: url('../images/map.png') no-repeat;
    top: 13px;
    left: 14px;
    width: 20px;
    height: 20px;
}

.main img {
    position: absolute;
    top: 15%;
    width: 100%;
}

a {
    color: #333;
}

a:hover {
   color: #888;
}

a:visited {
    color: #aaa;
}

.content {
    margin-top: 3em;
}

.legendContainer {
    margin-top: 3em;
    margin-right: 1em;
}

.legend {
    margin-bottom: 0;
    width: 100%;
}

th {
    text-align: left;
}

th,
tr {
    padding: 0.5625em 0.625em;
}

tr:nth-of-type(odd) {
    background-color: #e4e4e4;
}

td {
    padding: 0.5em;
}

.visibility {
    cursor: pointer;
    float: right;
    font-size: large;
    opacity: 0.4;
}

.visibility.selected {
    opacity: 1.0;
}
