* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    color: #555;
    font-size: 13px;
    line-height: 1.4em;
    min-width: 960px;
    text-align: left;
    width: 100%;
    height: 100%;
}

body {
    background-color: #f5f5f5;
}

section {
    min-height: 100%;
    height: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.intro {
    padding: 0 2.5%;
    background-color: #fff;
    position: relative;
    max-width: 320px;
    min-width: 160px;
    width: 20%;
}

.main {
    background-color: #f5f5f5;
    padding: 0 5%;
    width: 80%;
}

.latencyContainer,
.legendContainer {
    margin-top: 3em;
}

.legendContainer {
    background-color: #f5f5f5;
}

ul,
li,
h1,
p {
    display: block;
    margin: 0;
    padding: 0;
}

footer {
    color: #aaa;
    font-size: 0.9em;
    padding: 0.5em 0 1em 0;
}

footer a {
    display: inline-block;
    margin: 0 0.8em 0 0;
    text-decoration: none;
}

.sitelogo {
    background-image: url('../images/bolt.png');
    display: block;
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.3em;
    margin-top: 3em;
    margin-bottom: 1em;
    width: 50px;
    height: 50px;
}

h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    margin: 2.5em 0 0.6em 0;
}

p {
    margin-bottom: 0.5em;
}

.switch {
    display: block;
    padding: 0;
    position: relative;
    text-align: center;
}

.switch .slide-button {
    display: block;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.switch input:focus ~ .slide-button,
.switch input:focus + label {
    outline: 1px dotted #888;
}

.switch input {
    position: absolute;
    opacity: 0;
}

.switch label {
    cursor: pointer;
    float: left;
    margin: 0;
    position: relative;
    text-align: center;
    width: 50%;
    height: 100%;
    z-index: 2;
}

.switch .slide-button {
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
}

.switch input:last-of-type:checked ~ .slide-button {
    left: 50%;
}

.switch.three label,
.switch.three .slide-button {
    width: 33.33333%;
}

.switch.three input:checked:nth-of-type(2) ~ .slide-button {
    left: 33.33333%;
}

.switch.three input:checked:last-of-type ~ .slide-button {
    left: 66.66667%;
}

.small {
    background-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 1em;
    height: 32px;
}

.small label {
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.small label,
.small > span {
    color: #fff;
    line-height: 32px;
    vertical-align: middle;
}

.small input:checked + label {
    color: #555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.small .slide-button {
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.small > span {
    color: #555;
    text-shadow: none;
}

.small span {
    color: #fff;
}

.big {
    background: none;
    border: 2px solid #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    float: right;
    font-size: 1.1em;
    margin: 48px 40px 0 0;
    width: 92px;
    height: 46px;
    z-index: 9999;
}

.big label {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 0.2;
}

.big label,
.big > span {
    color: #fff;
    line-height: 36px;
    vertical-align: middle;
}

.big input:checked + label {
    color: #555;
    opacity: 1;
}

.big .slide-button {
    background-color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
}

.graphicon {
    background: url('../images/graph.png') no-repeat;
    top: 12px;
    left: 12px;
    width: 20px;
    height: 20px;
}

.mapicon {
    background: url('../images/map.png') no-repeat;
    top: 13px;
    left: 14px;
    width: 20px;
    height: 20px;
}

.main img {
    position: absolute;
    top: 15%;
    width: 100%;
}

a {
    color: #333;
}

a:hover {
   color: #888;
}

a:visited {
    color: #aaa;
}

.content {
    margin-top: 3em;
}

.legendContainer {
    margin-top: 3em;
    margin-right: 1em;
}

.legend {
    margin-bottom: 0;
    width: 100%;
}

th {
    text-align: left;
}

th,
tr {
    padding: 0.5625em 0.625em;
}

tr:nth-of-type(odd) {
    background-color: #e4e4e4;
}

td {
    padding: 0.5em;
}

.visibility {
    cursor: pointer;
    float: right;
    font-size: large;
    opacity: 0.4;
}

.visibility.selected {
    opacity: 1.0;
}

.sponsors {
    margin-top: 0.2em;
    width: 100%
}

.sponsor img {
    display: block;
    max-width: 100%;
    height: auto;
}

.twitter {
    margin-top: 1em;
    margin-bottom: 1em;
}

.twitter iframe {
    margin-right: 1em;
}

.links {
    border-top: 1px solid #ddd;
    list-style-type: none;
    margin: 3em 0 0 0;
    padding-top: 1em;
}

.links li {
    display: inline-block;
}

abbr:first-child {
    text-transform: capitalize;
}

abbr[title] {
    cursor: help;
}

#disqus_thread {
    margin-top: 2em;
}
