<div class="controls">
    <h3>Select request type</h3>
    <div class="switch three small typeControls">
        <input class="control type ping" name="type" type="radio" id="control_ping">
        <label for="control_ping">ping</label>

        <input class="control type http" name="type" type="radio" id="control_http" checked="checked">
        <label for="control_http">http</label>

        <input class="control type https" name="type" type="radio" id="control_https">
        <label for="control_https">https</label>

        <span class="slide-button"></span>
    </div>

    <h3>Select duration</h3>
    <div class="switch three small durationControls">
        <input class="control amount 7" name="amount" type="radio" id="control_7">
        <label for="control_7">7</label>

        <input class="control amount 30" name="amount" type="radio" id="control_30">
        <label for="control_30">30</label>

        <input class="control amount 90" name="amount" type="radio" id="control_90" checked="checked">
        <label for="control_90">90</label>

        <span class="slide-button"></span>
    </div>
</div>